@model RazorEnvironment.Model.Student
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>Hello ASP>NET CORE, You Can Do It</p>
    <p>My Name</p>, @Model.Name
    <br/>
    <p>Age</p>: @Model.Age
</body>
</html>
